
/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

/* Простые селекторы*/
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

header {
    padding-left: 1%;
    padding-top: 1.2%;
}

/* Стили футера */
footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}
/* Стили панели навигации */
.navbar p {
    color: darkgray;
    padding-left: 15%;
}
    /* Стили панели навигации при наведении мышью */
    .navbar p:hover {
        color: aliceblue;
    }

body {
    padding-left: 11%;
}

a {
    text-decoration: none;
}

input {
    border: 2px solid darkgrey;
    border-radius: 2px;
    outline: none;
}

    input:focus {
        border: 2px solid dimgrey;
    }


/*Глобальные стили для хедеров на всём сайте*/
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
/*Стиль хедера для главной страницы имеет приоритет,
так как используется селектор по идентификатору*/
#header-index {
    color: #44453f;
}

header, footer, body, .video-container {
    background-color: #e6ebc3;
}

.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

/*Слайдер*/
.slider {
    height: 580px;
    width: 1200px;
    position: relative;
}

    .slider .images {
        height: 100%;
        width: 100%;
    }

        .slider .images img {
            height: 100%;
            width: 100%;
        }

.btm-slides {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
 
}

    .btm-slides span {
        height: 5px;
        width: 50px;
        border: 1px solid #00ae98;
        margin: 0 3px;
        cursor: pointer;
        border-radius: 50%;
    }

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: 1px solid white;
    background: rgb(0, 174, 152);
    display: table-cell; /*выравнивает текст внутри span по центру*/
    text-align: center; /*выравнивает текст внутри span по центру*/
}

    .arrow:hover {
        background: rgba(255,255,255);
    }

.right {
    right: 0;
}

.arrow span {
    line-height: 43px;
    font-size: 20px;
    font-style: italic;
    color: rgba(255,255,255);
}
